{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Password</title>
    <link
      rel="stylesheet"
      href="{% static 'user_authentication/style.css' %}"
    />
    <style>
      .error-message {
        color: red;
        font-size: 14px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Update Your Password</h2>

      {% if messages %} {% for message in messages %}
      <p class="error-message">{{ message }}</p>
      {% endfor %} {% endif %}

      <form method="post">
        {% csrf_token %} {{ form.as_p }}

        <button type="submit">Change Password</button>
      </form>
      <p><a href="{% url 'dashboard' %}">Back to Dashboard</a></p>
    </div>
  </body>
</html>
